@import 'variables';
@import 'reset';
@import 'slider';

// header
header{
    height: 100vh;
    width: 100%;
    background-color: $purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .col-info{
        padding: 2.5em;
        img{
            width: 300px;
            padding: 0 0 2em 0;
        }

        p{
            font-size: 20px;
            color: $w;
            width: 70%;
            padding: 0 0 4em 0;
        }
        button{
            @include button($w);
                a{
                    color: $b;
                }
        }
    }
    .col-img{
       
        img {
            max-width: 80%;
        }
    }
}

// header mediaquery

@media (max-width:1300px){
    .col-info{
        padding: 0!important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            margin-top: 2em;
        }
        button{
            margin-bottom: 2em;
        }
        p{
            text-align: center;
            width: 90%;
        }
    }
    .col-img{
       
        img {
            width: 70%;
            display: block;
            margin: 0 auto;
        }
    }
    
}

// div caratteristiche applicazione
.card-applicazione{
    margin: 50px 0;
    .card-contenitore{
        display: flex;
        justify-content: center;
        align-items: center;
        color: $w;
        img{
            max-width: 350px;
            position: relative;
            left: 40px;
            z-index: 1;
        }
        .card-caratteristiche{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 30px 60px 30px 60px;
            border-radius: 15px;
            background-color: $purple;
            height: 350px;
            width: fit-content;
    
            h2{
                font-size: 35px;
                font-weight: 600;
                margin-bottom: 1em;
            }
    
            a{
                color: $w;
                font-size: 20px;
                // font-weight: 500;
                text-align: end;
            }
            .card-descrizione{
                margin-bottom: 1em;
                p{
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 2em;
                }
            }
        }
    }

    .reverse{
        flex-direction: row-reverse;

        img{
            left: -30px;
        }
        .card-caratteristiche{
            background-color: $blue;
        }
    }   

}

@media (max-width:860px){
    .card-contenitore{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img{
            display: none;
        }
    }
    .reverse{
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 500px){

}
// section - cta app 

.cta-app{
    background-color: $blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5em 0;
    .container-cta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-right: 20em;
        h2{
            font-size: 40px;
            color: $w;
            font-weight: 600;
            margin-bottom: 1em;
        }
        p{
            font-size: 20px;
            font-weight: 400;
            color: $w;
            margin-bottom: 3em;
        }
        div{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-left: -7px;
        }
    }
    .ego-connections{
        width: 30%;
        padding: 2em;
    }
}

// section - cta app -  mediaquery

@media (max-width:1300px){
    .cta-app{
        flex-direction: column;
        margin-top: 8em;
        .container-cta{
            margin-right: 0;
            h2, p{
                width: 90%;
                text-align: center;
                display: block;
                margin: 1em auto;
            }
            
        }
        div{
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;
        }
        .ego-connections{
            width: 100%;
        }
    }
}

// slider commenti
.container-slider {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

    .card {
        position: absolute;
        height: 350px;
        width: 100%;
        max-width: 850px;
        margin: auto;
        background-color: $w;
        border-radius: 25px;
        box-shadow: 6px 8px 9px -8px $b;
        .inner_part {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0 0 30px;
            height: 350px;
            position: absolute;
        }
    }
    #slideImg {
        &:checked {
            ~ {
                .inner_part {
                    padding: 0;
                    transition: .1s ease-in;
                    .img {
                        height: 350px;
                        width: 850px;
                        z-index: 99;
                        transition: .3s .2s ease-in;
                    }
                    .content {
                        display: none;
                    }
                }
                .slider {
                    display: none;
                }
            }
        }
    }
    .inner_part {
        .img {
            height: 260px;
            width: 260px;
            overflow: hidden;
            flex-shrink: 0;
            border-radius: 20px;
        }
    }
    .img {
        img {
            height: 100%;
            width: 100%;
            cursor: pointer;
            opacity: 0;
            transition: .6s;
        }
    }
    #slide_1 {
        &:checked {
            ~ {
                .inner_part {
                    .img_1 {
                        opacity: 1;
                        transition-delay: .2s;
                    }
                    .content_1 {
                        opacity: 1;
                        margin-left: 0;
                        z-index: 100;
                        transition-delay: .3s;
                    }
                }
                .slider {
                    .slide_1 {
                        &:before {
                            transform: scaleX(1);
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    #slide_2 {
        &:checked {
            ~ {
                .inner_part {
                    .img_2 {
                        opacity: 1;
                        transition-delay: .2s;
                    }
                    .content_2 {
                        opacity: 1;
                        margin-left: 0;
                        z-index: 100;
                        transition-delay: .3s;
                    }
                }
                .slider {
                    .slide_2 {
                        &:before {
                            transform: scaleX(1);
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    #slide_3 {
        &:checked {
            ~ {
                .inner_part {
                    .img_3 {
                        opacity: 1;
                        transition-delay: .2s;
                    }
                    .content_3 {
                        opacity: 1;
                        margin-left: 0;
                        z-index: 100;
                        transition-delay: .3s;
                    }
                }
                .slider {
                    .slide_3 {
                        &:before {
                            transform: scaleX(1);
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .content {
        padding: 0 20px 0 35px;
        width: 530px;
        margin-left: 50px;
        opacity: 0;
        transition: .6s;
        .title {
            font-size: 30px;
            font-weight: 700;
            color: $purple;
            margin: 0 0 20px 0;
        }
        .text {
            font-size: 19px;
            color: $b;
            margin: 0 auto 30px auto;
            line-height: 1.5em;
            text-align: justify;
        }
        button {
            padding: 15px 20px;
            border: none;
            font-size: 16px;
            color: $w;
            font-weight: 600;
            letter-spacing: 1px;
            border-radius: 50px;
            cursor: pointer;
            outline: none;
            background: $b;
            float: right;
            &:hover {
                background: $w;
                color: $b;
            }
        }
    }
    .slider {
        position: absolute;
        bottom: 25px;
        left: 55%;
        transform: translateX(-50%);
        z-index: 1;
        .slide {
            position: relative;
            height: 10px;
            width: 50px;
            background: #D9D9D9;
            border-radius: 5px;
            display: inline-flex;
            margin: 0 3px;
            cursor: pointer;
            &:before {
                position: absolute;
                content: ‘’;
                top: 0;
                left: 0;
                height: 100%;
                width: -100%;
                background: #000000;
                border-radius: 10px;
                transform: scaleX(0);
                transition: transform .6s;
                transform-origin: left;
            }
        }
    }
    input {
        display: none;
    }
}


// faq
.accordion-faq{
    margin: 50px 100px 50px 100px;
    h2{
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 1em;
        color: $purple;
    }
    .accordion {
        font-size: 20px;
        background-color: $purple;
        color: $w;
        cursor: pointer;
        padding: 20px;
        width: 100%;
        text-align: left;
        margin: 0 0 40px 0;
        border-radius: 10px;
    }
    
    .active, .accordion:hover {
        background-color: $purple;
    }
    
    .panel {
        padding: 0 18px;
        background-color: $g;
        overflow: hidden;
        display: none;
        margin: 0 0 20px 0;
        border-radius: 10px;
        padding: 20px;
        position: relative;
        top: -20px;
    }

    .accordion:after {
        font-size: 20px;
        content: '+';
        font-weight: 500;
        color: $w;
        float: right;
        margin-left: 5px;
        
      }
      
      .active:after {
        font-size: 20px;
        content: "-";
      }
}

@media (max-width: 500px){
    .accordion-faq{
        margin: 25px 50px 25px 50px; 
        .accordion{
            font-size: 18px;
        }
        .panel{
           font-size: 15px; 
        }
    }
}

// footer
footer{
    background-color: $purple;
    color: $w;
    text-align: center;
    padding: 40px 0 50px 0px;
    p{
        line-height: 1.5em;
        font-size: 20px;
    }
    div{
        margin-top: 20px;
        text-align: center;
        a{
            color: $w;
        }
        a:hover{
            text-decoration: underline;
        }
    }
    
}

// media query footer
@media (max-width: 750px){
    footer{
        padding: 40px 50px 50px 50px;

        p{
            font-size: 16px; 
        }
        div {
            a{
                font-size: 15px;
            }
        }
    }
}
