@import 'variables';
@import 'reset';

// header
header{
    height: 100vh;
    width: 100%;
    background-color: $purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .col-info{
        padding: 2.5em;
        img{
            width: 300px;
            padding: 0 0 2em 0;
        }

        p{
            font-size: 20px;
            color: $w;
            width: 70%;
            padding: 0 0 4em 0;
        }
        button{
            @include button($w);
                a{
                    color: $b;
                }
        }
    }
    .col-img{
       
        img {
            max-width: 80%;
        }
    }
}

// header mediaquery

@media (max-width:1300px){
    .col-info{
        padding: 0!important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            margin-top: 2em;
        }
        button{
            margin-bottom: 2em;
        }
        p{
            text-align: center;
            width: 90%;
        }
    }
    .col-img{
       
        img {
            width: 70%;
            display: block;
            margin: 0 auto;
        }
    }
    
}

// section - app - first
.section-container{
    padding-left: 2em;
    .section-app{
        margin-top: 20em !important;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .app-photo{
            width: 400px;
            z-index: 50;
            position: absolute;
            left: 25%;
        }
        .app-container{
            color: $w;
            background-color: $purple;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 400px;
            border-radius: 42px;
            z-index: 20;
            position: relative;
            padding-left: 12em;
            margin-bottom: 8em;
            h2{
                font-size: 35px;
                font-weight: 600;
                margin-bottom: 1.5em;
            }
            .app-description{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    margin-bottom: -6px;
                    padding: 0 1em;
                }
                p{
                    padding: 1em 0;
                    font-size: 20px;
                    font-weight: 400;
                }
            }
            .arrow-app{
                display: flex;
                align-self: flex-end;
                justify-self: flex-end;
                margin-top: 3em;
                padding-right: 5em;
                a{
                    text-decoration: underline;
                    color: $w;
                    font-size: 20px;
                    font-weight: 500;
                    img{
                        margin-bottom: -6px;
                        margin-left: 1em;
                    }
                }
            }
        }
    }
}

// section - app - first - mediaquery

@media (max-width:1300px){
    .section-container{
        padding: 0;
        .section-app{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 12em !important;
            .app-photo{
                width: 80%;
                position: static;
                left: 0;
            }
            .app-container{
                position: static;
                padding: 0;
                margin: 0;
                width: 90%;
                margin-top: 4em !important;
                .app-description{
                    img{
                        padding: 0 10px !important;
                    }
                    p{
                        width: 90%;
                        text-align: center;
                    }
                }
            }
            
        }
    } 
}

// section - cta app 

.cta-app{
    background-color: $blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20em;
    .container-cta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-right: 20em;
        h2{
            font-size: 40px;
            color: $w;
            font-weight: 600;
            margin-bottom: 1em;
        }
        p{
            font-size: 25px;
            font-weight: 400;
            color: $w;
            margin-bottom: 3em;
        }
        div{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-left: -7px;
        }
    }
    .ego-connections{
        width: 30%;
        padding: 2em;
    }
}

// section - cta app -  mediaquery

@media (max-width:1300px){
    .cta-app{
        flex-direction: column;
        margin-top: 8em;
        .container-cta{
            margin-right: 0;
            h2, p{
                width: 90%;
                text-align: center;
                display: block;
                margin: 1em auto;
            }
            
        }
        div{
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;
        }
        .ego-connections{
            width: 100%;
        }
    }
}

// section - app - second 
.section-app-blue{
    margin-top: 20em !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        .app-photo-blue{
            width: 400px;
            z-index: 50;
            position: absolute;
            right: 25%;
        }
        .app-container-blue{
            color: $w;
            background-color: $blue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 400px;
            border-radius: 42px;
            z-index: 20;
            position: relative;
            padding-right: 12em;
            margin-bottom: 8em;
            h2{
                font-size: 35px;
                font-weight: 600;
                margin-bottom: 1.5em;
            }
            .app-description{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    margin-bottom: -6px;
                    padding: 0 1em;
                }
                p{
                    padding: 1em 0;
                    font-size: 20px;
                    font-weight: 400;
                }
            }
            
        }
    }

// section - app - second - mediaquery

@media (max-width:1300px){
    .section-container{
        padding: 0;
        .section-app-blue{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 2em !important;
            .app-photo-blue{
                width: 80%;
                position: static;
                left: 0;
                margin-top: 4em;
            }
            .app-container-blue{
                position: static;
                padding: 0;
                margin: 0;
                width: 90%;
                margin-top: 4em !important;
                .app-description{
                    img{
                        padding: 0 10px !important;
                    }
                    p{
                        width: 90%;
                        text-align: center;
                    }
                }
            }
            
        }
    } 
}