@import 'reset';
@import 'variables';
@import 'button';

header.ego-header{
    width: 100%;
    background-color: $lblue;

    .ego-header-nav{
        padding: 40px 40px 20px 40px;
        display: flex;
        justify-content: space-between;
        
        a{
            @include button(20px 60px, $w, $b);
        }
    }
}
